.tiny.image {
    float: left !important;
    clear: both !important;
    margin-right: 15px;
}
.item {
    margin: 1em 0;
    position: relative;
    height: 90px;
    padding: 5px;
    cursor: pointer;
}
.content {
    height: 100%;
}
.description{
    color: gray;
}